/*Author: Timothy Goddard
  Description: This is the CSS file used in the CalcuGuess project. It contains the CSS styling used in the HTML file. 
  DAte: 07/13/2021
*/
h1 {
    text-align: center;
    text-decoration: underline;
}